
 <br /> <br /> <br /><strong><%= @doc.title %></strong> 
<%  if @doc.current_version  then %>
  <em>current version</em>
  <% else %>
    <em>version<%=  @doc_version.version_num %> </em>
  <% end %>
<br />
 <%= @doc.content %>
<br /><br />
<%  if @doc.current_version  then %>
  <em><%= link_to "Edit this current version", edit_project_doc_version_path(@project, @doc) %></em>
<% else %>
  <em>Only current version can be edited</em>
<% end %>
<br /><br />
<h3>Version history:</h3>

<table>
  <tr>
    <th>Version Num</th>
    <th>Author</th>
    <th>Doc Type</th>
    <th>Last Edited At</th>
    <th>Num Edits</th>
  </tr>
  <% for doc_version in @doc_versions %>
    <tr>
      <td>
        <%=h doc_version.version_num %>
        <% if doc_version.version_num == @doc.version_num then %>
          *
        <% end %>        
      </td>
      <td><%=h doc_version.editor.name %></td>
      <td><%=h doc_version.doc_type %></td>
      <td><%=h doc_version.last_edited_at %></td>
      <td><%=h doc_version.num_edits %></td>
      <td><%= link_to "Show", doc_version %></td>
    </tr>
  <% end %>
</table><br />
<%= link_to "Back to item: #{@item.name }", @item unless @item.nil? %><br />
<%= link_to "Back to project: #{@project.name }", @project %><br />
<%= link_to "Profile for: #{@user.name }", @user %><br />

