

  <div id="dashboard-projects-c" class="prepend-1 column span-18">
    <div id="events-header" class="column span-24">
		<div class="column span-4">
		<h2><b>My Projects</b></h2>
		</div>
		<div class="column span-14"><hr class="bar"> </hr></div>
      <div id="new-project-button" class="column span-3 last">
        <%= link_to image_tag('newprojectbutton.png'), new_project_path %>
      </div>
    </div>
  </div>

  <div id="user-projects-container" class="column span-24">
    <div id="user-projects" class="prepend-2">
      <div id="user-projects-own-collab" class="column span-9">
        <div class="column span-7">
          <div>
            <% unless @related_projects[:owns].empty? then %>
              <strong>Projects this person owns:</strong>
              <% @related_projects[:owns].each do |p| %>
                <%  uploaded_image = p.home_page_image %>
                <%= render :partial => 'uploaded_images/show',
                  :locals => { :uploaded_image => uploaded_image, :image_type => "project", :uploaded_image_size => :medium } %>
                <%= link_to p.name, p %><br />
              <% end %>
            <% end %>
          </div>

          <div>
            <% unless @related_projects[:collaborating].empty? then %>
              <strong>Projects on which this person is collaborating:</strong>
              <% @related_projects[:collaborating].each do |p| %>
                <%  uploaded_image = p.home_page_image %>
                <%= render :partial => 'uploaded_images/show',
                  :locals => { :uploaded_image => uploaded_image, :image_type => "project", :uploaded_image_size => :medium  } %>
                <%= link_to p.name, p %><br />
              <% end %>
            <% end %>
          </div>
        </div>

        <div>
          <% unless @related_projects[:following].empty? then %>
            <strong>Projects this person is following:</strong>
            <% @related_projects[:collaborating].each do |p| %>
              <%= render :partial => 'uploaded_images/show',
                :locals => { :uploaded_image => uploaded_image, :image_type => "project", :uploaded_image_size => :medium  } %>
              <%= link_to p.name, p %><br />
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="dashboard-feed-c" class="prepend-1 column span-18">
   	<div id="events-header" class="column span-24">
		<div class="column span-3">
		<h2><b>Events</b></h2>
		</div>
		<div class="column span-20 last "><hr class="bar"> </hr></div>
  <div id="events-container" class="column span-21">
    <%= render :partial => '/events/events' -%>
  </div>
</div>

<%= will_paginate @events , :class=>"apple_pagination span-24" %>
