<div id="header-middle-dashboard" class="container">
  <div id="profile-bar" class="column span-6 prepend-3">
    <% unless current_user.user_image_file_name.nil?  then %>
      <p><%= image_tag current_user.user_image.url,:height=>'50' %></p>
    <% else%>
      <p><img src="/images/nouserimg.png" height="50"></p>
    <% end %>
    <h3><strong><%= current_user.name%> </strong></h3>(<%= link_to 'edit profile', edit_user_path(current_user) %>)

  </div>

</div>
<div id="dashboard-projects-c" class="prepend-1 column span-18">
  <div id="dashboard-projects">
    <div id="project-bar-details" class="column span-14 prepend-1">
      <h3><strong>my projects</strong></h3>
    </div>
    <div id="new-project-button" class="prepend-8">
      <%= link_to image_tag('newprojectbutton.png'), new_project_path %>
    </div>
  </div>
</div>
<div id="user-projects-container" class="column span-24">
  <div id="user-projects" class="prepend-2">
    <div id="user-projects-own-collab" class="prepend-1 column span-9">
      <div id="user-projects-own-collab-header">
        <h4>collaborating:</h4>
      </div>
      <table>
      <% @user_projects[:owns].each do |p| %>
        <tr>

        <% unless p.project_image_file_name.nil?  then %>
          <td><%= link_to(image_tag(p.project_image.url(:thumb), :height => "50"), p) %></td>
        <% else %>
          <td><%= link_to(image_tag("/images/projectplaceholderdash.png", :height => "50"), p) %></td>
        <% end %>
      </div>
      <td><%=h p.name %> (<%= link_to "show", p %>)</td>

      </tr>
    <% end %>
    <% @user_projects[:collaborating].each do |p| %>
      <div>

        <% unless p.project_image_file_name.nil?  then %>
          <td><%= link_to(image_tag(p.project_image.url(:thumb), :height => "50"), p) %></td>
        <% else %>
          <td><%= link_to(image_tag("/images/projectplaceholderdash.png", :height => "50"), p) %></td>
        <% end %>
      </div>
      <td><%=h p.name %> (<%= link_to "show", p %>)</td>


    </div>
  <% end %>
  </table>
</div>
<div id="user-projects-follow" class="column span-8">
  <div id="user-projects-follow-header">
    <h4>following:</h4>
  </div>
  <table>
  <% @user_projects[:following].each do |p| %>
    <tr>
    <% unless p.project_image_file_name.nil?  then %>
      <td><%= link_to(image_tag(p.project_image.url(:thumb), :size => "50x50"), p) %></td>
    <% else %>
      <td><%= link_to(image_tag("/images/projectplaceholderdash.png", :size => "50x50"), p) %></td>
    <% end %>
  </div>
  <td><%=h p.name %> (<%= link_to "show", p %>)</td>

  </tr>
<% end %>
</table>
</div>
</div>
<div id="dashboard-feed-c" class="prepend-1 column span-18">
  <div id="dashboard-feed">
    <div id="project-bar-details" class="column span-13 prepend-1">
      <h3><strong>what's happening?</strong></h3>
    </div>

  </div>
      <div id="events-container" class="column span-21">
      <%= render :partial => '/events/events' -%>
    </div>
</div>

<%= will_paginate @events , :class=>"apple_pagination span-24" %>
