


<div id="loginbox" class="column span-6">
<div id="loginform">
<% form_tag session_path do -%>
<p><%= label_tag 'login' %><br />
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag 'password' %><br />
<%= password_field_tag 'password', nil, :class => "input_field" %></p>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<p><%= submit_tag 'login!' %></p>
<% end -%>

</div>


</div>


<div id="betacopy" class="column span-5">
<h3>
<p>We are currently in double secret beta.<br />
If don't have an account, no worries... leave us your email address and we'll send you an invitation when the time is right.<br /></p>
</h3>
</div>

<div id="title" class="column span-24">
<h1>UnPtnt - login</h1>
<h1>(ən-pat·ent)</h1>
</div>
