<div id="header-bottom" class="span-24">
  <ul id="context-menu">
<li><%= link_to image_tag("/images/backtoprojectsbutton.png"), project_path(@project)  %></li>

    <li><%= link_to image_tag("/images/additembutton.png"), new_bom_item_path(@project.bom)  %></li>

  </ul>
</div>
<!--
Bom#show - shows a list of all the items, in summary form.
-->
<div id="materials-list">
<% count = 0 %>
<% size = Hash.new
   size[:Hardware] = size[:Software] = size[:Tools] = 0 %>
<% [:Hardware, :Software, :Tools].each do |item_type| %>
      
  <%= "<div id=\"bar_" + "#{ item_type }" + "\">"  %>
    <h3><strong><%=item_type.to_s%></strong></h3>
  </div>
  
   <%= "<table id=\"" + "#{ item_type }" + "\">"  %>  <!-- gets the id of the table to be the item_type -->        
    <% @items[item_type].each do |item|  %>
      <% count += 1 %>
      <%= "<tr id=\"item_" + "#{ item.id }" + "\">"  %>  <!-- gets the id of the div to be the item_type -->        
        <%= render :partial => "items/summary",
          :locals => { :item => item, :uploaded_image => item.home_page_image } %>
      </tr>
      <%  case item_type 
            when :Hardware 
              size[:Hardware] = count
             when :Software
              size[:Software] = count - size[:Hardware]
            when :Tools
              size[:Tools] = count - size[:Software] - size[:Hardware]
      end %>
    <% end %>
  </table>
<% end %>
</div>
