<!--
Bom#show - shows a list of all the items, in summary form.
-->
<% count = 0 %>
<% [:Hardware, :Software, :Tools].each do |item_type| %>
      
  <%= "<div id=\"" + "#{ item_type }" + "\">"  %>  <!-- gets the id of the div to be the item_type -->
    <h3><strong><%=item_type.to_s%></strong></h3>
    <%=image_tag(item_type.to_s+'bar.png') %>
    </div>

  
  <table>        
    <% @items[item_type].each do |item|  %>
      <% count += 1 %>
      <%= "<tr id=\"item_" + "#{ item.id }" + "\">"  %>  <!-- gets the id of the div to be the item_type -->
        <% span_for item do %>
        <td><img src="/images/itemnoimgsmall.png"></td>
        <%= render :partial => "items/summary", :locals => { :item => item} %>
        <%= render :partial => "items/links", :locals => { :item => item} %>
      <% end %> </tr>
    <% end %>
  </table>
<% end %>

<%= render :partial => 'items/new_item_link', :locals => { :count => count } %>