<div id="header-middle-dashboard" class="container">
	<div id="profile-bar" class="column span-9 prepend-3">
	
		<h1><strong>edit your profile</strong></h1>

	</div>

</div>
<div id="imagediv" class="span-9">
  <div id="image-image" class="span-4 prepend-1 append-1 last">
    <%= render :partial => 'uploaded_images/show',
       :locals => { :uploaded_image => @uploaded_image, :default_images => @default_images, :image_type => "user" } %>
  </div>

</div>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for current_user, :html => { :multipart => true }  do |f| -%>
<p><%= label_tag 'login' %><br/>
<%= @user.login%></p>

<p><%= label_tag 'full_name' %><br/>
<%= f.text_field :name %></p>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag 'password' %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
<%= f.password_field :password_confirmation %></p>

<p>
   <%= f.label :user_image %><br />
   <%= f.file_field :user_image %><br />
   <em>Note: new image replaces old - can only have one.</em>
</p> 

<p><%= submit_tag 'Save changes' %></p>
<% end -%>




