<% action, body, category = action_and_body_for_event(event) %>
<li class="event_instance">
 <p class="event_category <%= category -%>"><%= category.humanize -%></p>
  	


  

 
<div class="event_meta">
    <div class="event_user">
	<% unless event.user.home_page_image.nil?  then %>
	  <%= image_tag event.user.home_page_image.public_filename,:height=>'45',:width=>'45' %>
	<% else%>
	  <%= image_tag ('avatar.gif'),:height=>'45',:width=>'45' %>
	<% end %>
	</div>
	<div class="event_action">
    <% unless action.empty? %>
      <%= link_to event.user.name %> 
      <%= action %> 
    <% end %>

  </div>  
  </div>
</li>