<table>  
				<tr>
					<td><h1><%=project.name%></h1>	</td>
				</tr>
				<tr>
					<td><h5><%=h project.description -%></h5></td>
				</tr>
				<tr>
					<td><h4><strong>Type: </strong><%=project.project_type%></h4></td>
				</tr>
				<tr>
					<td><h4><b>Status:</b><%=project.status%> <%= link_to image_tag("/images/status_history.gif"), status_history_project_path(project)%></h4>
				<tr>
					<td><b>License:</b> <% if project.license.nil? then %>
					    No license selected yet.
					  <% else %>
					    <%=h project.license.name -%>
                        <% unless project.license.license_image_file_name.nil?  then %>
                    	  <%= image_tag project.license.license_image.url(:thumb) %>
                        <% end %>
					  <% end %></td>
				</tr>
				<tr>
					<td><b>Owner: </b>
                    
                    <% if logged_in? && current_user == related_users[:owner] then %>
                      <%= link_to related_users[:owner][:name], dashboard_path %>
                    <% else %>
                      <%= link_to related_users[:owner][:name], related_users[:owner]  %>
                    <% end %><br />
                    
				</tr>
			
			
			</table>