<h3>Select a current user to add as a collaborator to project: <%= @project.name %></h3>
<% form_tag :controller => 'projects', :action => 'create_collaborator' do %>
    <%= hidden_field_tag :projectid, @project.id %>
    <%= label_tag 'select_a_collaborator' %><br />    
    <%= text_field_with_auto_complete :user, :login %><br/>
    <em>Enter the first few characters of the person's login id, which may be different from first or last name</em><br/>
    <%= submit_tag 'Add collaborator' %>
<% end %><br/><br/><br/>
<strong>or</strong><br/>
Please enter the email address of a friend you<br />
would like to invite to join the UnPtnt system.
<% form_tag :controller => 'invitations', :action => 'create'  do %>
  <%= hidden_field_tag :project_id, @project.id %>
  <p>
    <%= label_tag :recipient_email %><br />
    <%= text_field_tag :recipient_email %>
  </p>

  <p><%= submit_tag "Invite new user" %></p>
<% end %>