<div id="header-bottom" class="span-24">
  <ul id="context-menu">
   
    <% unless logged_in? || ( logged_in? && current_user.relationship(@project) == "none" ) then  %>
      <li><h4><strong><%= link_to image_tag("/images/followbutton.png"), follow_project_path(@project)  %></strong></h4></li>
    <% end %>
    <% if logged_in? && current_user.relationship(@project) == "follower" then %>
      <li><h4><strong>You are following this project: <%= link_to " stop", stop_following_project_path(@project) %></strong></h4></li>
    <% elsif logged_in? && current_user.relationship(@project) == "collaborator" then %>
      <li><h4><strong>You are collaborating on this project: <%= link_to " stop", stop_following_project_path(@project) %></strong></h4></li>
    <% elsif logged_in? and current_user.relationship(@project) == "owner" %>
      <li><h4><strong>You are project owner: <%= link_to " add collaborator", add_collaborator_project_path(@project)  %></strong></h4></li>
    <% end %>
    <li><%= link_to image_tag("/images/addcollabbutton.png"), follow_project_path(@project)  %></li>

  </ul>
</div>
<div class="container">
<ul>

<li><strong>Owner</strong></li>

<% unless @related_users[:owner].user_image_file_name.nil?  then %>
  <li><%= link_to(image_tag(@related_users[:owner].user_image.url(:thumb), :size => "40x40"), @related_users[:owner]) %>
<% else %>
  <%= link_to(image_tag("/images/nouserimg.png", :size => "40x40"), @related_users[:owner]) %>
<% end %>
<%= link_to @related_users[:owner].name, @related_users[:owner] %>

<%unless @related_users[:collaborators].empty?%>

  <li><strong>Collaborators</strong></li>

  <% @related_users[:collaborators].each do |c| %>
    <li>
      <% unless c.user_image_file_name.nil?  then %>
        <%= link_to(image_tag(c.user_image.url(:thumb), :size => "40x40"), c) %>
      <% else %>
        <%= link_to(image_tag("/images/nouserimg.png", :size => "40x40"), c) %>
      <% end %>
      <%= link_to c.name, c %>
      <% if logged_in? && @related_users[:owner].id == current_user.id then %>
        <%= link_to "remove", :action => 'remove_collaborator', :id => @project.id, :userid => c.id %>
      <% end %>
    </li>
  <% end %>
<%  end %>
<%unless @related_users[:followers].empty?%>
  <li><strong>Followers</strong></li>

  <% @related_users[:followers].each do |f| %>
    <li>
      <% unless f.user_image_file_name.nil?  then %>
        <%= link_to(image_tag(f.user_image.url(:thumb), :size => "40x40"), f) %>
      <% else %>
        <%= link_to(image_tag("/images/nouserimg.png", :size => "40x40"), f) %>
      <% end %>
      <%= link_to f.name, f %>
    </li>
  <% end %>

<% end %>
