<div class="container">
<ul>

<li><strong>Owner</strong></li>

<% unless @related_users[:owner].home_page_image.nil?  then %>
  <li><%= link_to(image_tag(@related_users[:owner].home_page_image.public_filename(:thumb), :size => "40x40"), @related_users[:owner]) %>
<% else %>
  <%= link_to(image_tag("/images/nouserimg.png", :size => "40x40"), @related_users[:owner]) %>
<% end %>
<%= link_to @related_users[:owner].name, @related_users[:owner] %>

<%unless @related_users[:collaborators].empty?%>

  <li><strong>Collaborators</strong></li>

  <% @related_users[:collaborators].each do |c| %>
    <li>
      <% unless c.home_page_image.nil?  then %>
        <%= link_to(image_tag(c.home_page_image.public_filename(:thumb), :size => "40x40"), c) %>
      <% else %>
        <%= link_to(image_tag("/images/nouserimg.png", :size => "40x40"), c) %>
      <% end %>
      <%= link_to c.name, c %>
      <% if logged_in? && @related_users[:owner].id == current_user.id then %>
        <%= link_to "remove", :action => 'remove_collaborator', :id => @project.id, :userid => c.id %>
      <% end %>
    </li>
  <% end %>
<%  end %>
<%unless @related_users[:followers].empty?%>
  <li><strong>Followers</strong></li>

  <% @related_users[:followers].each do |f| %>
    <li>
      <% unless f.home_page_image.nil?  then %>
        <%= link_to(image_tag(f.home_page_image.public_filename(:thumb), :size => "40x40"), f) %>
      <% else %>
        <%= link_to(image_tag("/images/nouserimg.png", :size => "40x40"), f) %>
      <% end %>
      <%= link_to f.name, f %>
    </li>
  <% end %>

<% end %>
