<!--
# shows the project information using the
# project/show, images/show, and doc_versions/show partials
# rendered by project#show.html
-->
<div id="header-bottom" class="span-24">
  <ul id="context-menu">
    <li><%= link_to image_tag("/images/backtoprojectsbutton.png"), projects_path  %></li>
    <% unless logged_in? || ( logged_in? && current_user.relationship(@project) == "none" ) then  %>
      <li><h4><strong><%= link_to image_tag("/images/followbutton.png"), follow_project_path(@project)  %></strong></h4></li>
    <% end %>
    <% if logged_in? && current_user.relationship(@project) == "follower" then %>
      <li><h4><strong>You are following this project: <%= link_to " stop", stop_following_project_path(@project) %></strong></h4></li>
    <% elsif logged_in? && current_user.relationship(@project) == "collaborator" then %>
      <li><h4><strong>You are collaborating on this project: <%= link_to " stop", stop_following_project_path(@project) %></strong></h4></li>
    <% elsif logged_in? and current_user.relationship(@project) == "owner" %>
      <li><%= link_to image_tag("/images/addcollabbutton.png"), add_collaborator_project_path(@project)  %></li>
    <% end %>

    <li><%= link_to image_tag("/images/addtopicbutton.png")  %></li>
    <li><%= link_to image_tag("/images/additembutton.png")  %></li>
    <li><%= link_to image_tag("/images/discussbutton.png"), project_forum_path(@project, @forum)  %></li>
  </ul>
</div>

<div id="proj-details" class="container">
  <div id="imagediv" class="span-9">
    <div id="image-image" class="span-4 prepend-1 append-1 last">
      <%= render :partial => 'uploaded_images/show', 
        :locals => { :uploaded_image => @uploaded_image, :image_type => "project", :uploaded_image_size => :large  } %>
    </div>
    <div id="replace-image" class="span-9 last">
      <%= render :partial => 'uploaded_images/show_choice',
                 :locals => { :item_id => "0", :project_id => @project.id, :user_id => @current_user_id,
                 :image_type => "project", :purpose => "home_page",
                 :current_user_is_editor => @current_user_is_editor }  %><br/>
    </div>
  </div>
  <div id="proj-fields" class="span-15 last">
    <%= render :partial => 'projects/show_fields', :locals => { :project => @project, :related_users => @related_users } %>
  </div>
</div><br/>
  

<div id="proj-events" class="column span-24">
  <div id="events-container">
    <%= render :partial => '/events/events' -%>
  </div>
  <%= will_paginate @events , :class=>"apple_pagination span-24" %>
</div>

<div id="document" class="column prepend-2 span-20">
  <%= render :partial =>  'projects/show_doc_version',
    :locals => { :doc_version => @doc_version, :project => @project,
    :item_id => "0", :home_page => true, :current_user_is_editor => @current_user_is_editor } %>
</div>

