<!--
# shows the project information using the
# project/show, images/show, and doc_versions/show partials
# rendered by project#show.html
-->

<div id="proj-details" >
  
  <div id="imagediv" class="column span-3 prepend-2">
    <%= render :partial => '/projects/show_image', :locals => { :project => @project } %>
  </div>

  <div id="proj-fields" class="column prepend-2 span-12">
    <%= render :partial => 'projects/show', :locals => { :project => @project, :related_users => @related_users } %>
  </div>
</div>   <!-- proj-details -->  
  
<div id="proj-events" class="column span-24">
    <div id="events-container">
       <%= render :partial => '/events/events' -%>
    </div>
    <%= will_paginate @events , :class=>"apple_pagination span-24" %>
</div>

<div id="document" class="column prepend-2 span-20">
  <%= render :partial =>  'projects/show_doc_version', 
        :locals => { :doc_version => @doc_version, :project => @project, 
        :item_id => "0", :home_page => true } %>
</div>

