<div class="span-15 last">
<br/><br/><h4><strong>Quantity:</strong>   <%=h item.quantity %><br />
<strong>Item type:</strong>  <%=h item.item_type %><br />
<strong>Item name:</strong> <%=h item.name %><br />
<% unless item.info_url.nil? then %>
  <strong>URL for Item info:</strong> <%= auto_link(item.info_url)  %>
<% else %>
  <br/>
<% end %></h4> <br />
</div>
<div class="container span-6 prepend- last">
<% if current_user_is_editor  then %>
  <br/><br/>
<em><%= link_to_remote image_tag("/images/edit.png"), :url => edit_bom_item_path(item.bom, item), :method => :get %></em><br/>
<% end %>
</div>