<div class="item" id="item_<%= show_summary.id%>">
  <tr>
    <td>          
      <% unless show_summary.item_image_file_name.nil?  then %>
          <%= link_to(image_tag(show_summary.item_image.url(:thumb), :size => "40x40"), bom_item_path(@bom, show_summary)) %>
      <% else%>
        <img src="/images/itemnoimgsmall.png">
      <% end %>
    </td>
    <td><%=h show_summary.quantity %></td>
    <td><%=h show_summary.item_type %></td
    <td><%=h show_summary.name %></td>
    <td><%= auto_link(show_summary.info_url) %></td>  
    <td><em>
        <%= link_to_remote 'Details', :url => "/boms/#{ @bom.id }/items/#{ show_summary.id }?show_detail=1", :method => :get %>
    </em></td>
    <% if logged_in? && current_user.is_editor?(@bom.project) then %>
      <td><em>
          <%= link_to_remote "Edit", 
                  :url => edit_bom_item_path(@bom, show_summary), 
                  :method => :get %>
      </em></td> 
      <td><em>
          <%= link_to_remote "Delete", 
                  :url => [@bom, show_summary], 
                  :method => :delete %>
      </em></td>
    <% end %> 
  </tr>
</div>