<td><%= render :partial => 'uploaded_images/show', 
    :locals => { :uploaded_image => uploaded_image, :image_type => "item", :uploaded_image_size => :medium  } %></td>
<td><%=h item.quantity %></td>
<td><%=h item.name %></td>
<td><%= auto_link(item.info_url) %></td>
<%= render :partial => "items/links", :locals => { :item => item} %>
          

