
<td><%=h item.quantity %></td>
<td><%=h item.name %></td>
<td><%= auto_link(item.info_url) %></td>
<td><em><%= link_to_remote 'show', :url => bom_item_path(@bom, item), :method => :get %></em></td>
<% if logged_in? && current_user.is_editor?(session[:project]) then %>
  <td><em><%= link_to_remote 'edit', :url => edit_bom_item_path(@bom, item), :method => :get %></em></td> 
  <td><em><%= link_to 'delete', [@bom, item], :confirm => 'Are you sure?  This action is FINAL and cannot be undone.', :method => :delete %></em></td>
<% end %>           

