<table>
    <tr id="item_fields">
      <td/><td/><td>
        <%= "<span id=\"item_" + "#{ @item.id }" + "\">"  %>  <!-- gets the id of the span to be the item_type -->  
          <%= render :partial => '/items/edit', :locals => { :item => @item, :bom => @bom } %>
        </span><br/>
        <span id="item-attachments"
          <%= render :partial => 'attachments/index', :locals => { :file_attachments => @file_attachments }  %><br />
        </span>
        <span id="document">  
          <%= render :partial =>  'items/show_doc_version', 
              :locals => { :doc_version => @doc_version, :item => @item, 
              :item => @item, :home_page => true, :bom => @bom, :project => session[:project] } %><br/>  
        </span>
        <span id="imagediv">
          <%= render :partial => '/images/show_in_item', :locals => { :item => @item, :bom => @bom, :project => session[:project] } %><br/>   
        </span>
      </td><td/><td/><td/><td/>        
    </tr>
</table><br /><br />