<div id="header-bottom" class="span-24">
	<ul id="context-menu">
		<li>
		</li>
    	<li>	
			<% if logged_in? && current_user.is_editor?(@bom.project) then %>
		    <h4><%= link_to( 'add an item', new_bom_item_path(@bom) )%></h4>
		  	<% end %>
		</li> 
              </ul>	
</div>
<h3>Project: <%= @bom.project.name  %> </h3>





<% form_for([@bom, @item], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :item_type %><br />
    <%= f.select :item_type, @item_types %>
  </p> 
  
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>  

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :info_url %><br />
    <%= f.text_field :info_url %>
  </p> 
  
  <p>
     <%= f.label :item_image %><br />
     <%= f.file_field :item_image %>
  </p>  

  <% fields_for :file_attachment do |a| %>
    <p>
      <label for="file_attachment">Upload a file:</label><br />
      <%= a.file_field :uploaded_data %>
    </p>
  <% end %>
    
  <% fields_for :doc_version do |dv| %>  
    <p>
      <%= dv.label :title %><br />
      <%= dv.text_field :title %>
    </p>

      <%= dv.label :content %><br />
      <%= dv.text_area :content, :size => "700x40", :class => "mceEditor" %>
  <% end %><br />
  
  <%= hidden_field_tag :itemidnum, @item.id %>
  <%= hidden_field_tag :home_page, true %>
  
  <p>
    <%= f.submit "Add item" %>
  </p>
<% end %>

<%= link_to 'Cancel and return to Project', @project %>