<h3>Project <%= @bom.project.name  %> </h3>

<table>
  <tr>
    <th>Quantity</th>
    <th>Type</th>
    <th>Name</th>
    <th>Description</th>
    <th>Link</th>
  </tr>
    <tr>
      <td><%=h @item.quantity %></td>
      <td><%=h @item.item_type %></td
      <td><%=h @item.name %></td>

      <td><%= auto_link(@item.info_url)  %> </td>   
      <% if logged_in? && current_user.is_editor?(@bom.project) then %>
        <td><em><%= link_to 'edit', edit_bom_item_path(@bom, @item) %></em></td>
        <td><em><%= link_to '  delete', [@bom, @item], :confirm => 'Are you sure?', :method => :delete %></em></td>
      <% end %>        
    </tr>
</table><br /><br />

  <% unless @file_attachments.empty? then %>
    Attached files:<br />
    <% for file_attachment in @file_attachments -%>
      <%= link_to image_tag(file_attachment.public_filename(:thumb)), file_attachment.public_filename %><br />
    <% end -%>  
  <% end %><br />

<% unless @doc_version.nil? then %>
   <br /><h1><%= @doc_version.title %></h1> 

    <br />
     <%= @doc_version.content %>
    <br /><br />
<% end %>

<% if logged_in? && current_user.is_editor?(@bom.project) then %>
  <%= link_to 'Add another item to this BOM', new_bom_item_path(@bom) %><br />
<% end %>

<%= link_to 'Back to the item list for this BOM', @bom %>

<% unless @item.item_image_file_name.nil?  then %>
  <p><%= image_tag @item.item_image.url %></p>
<% end %>